<div class="intro">
    <img src="assets/images/logo.png" alt="game logo" class="intro__logo">
    <div class="intro__content">Step into a galaxy far, far away with the exhilarating Star Wars game, where epic battles, thrilling adventures, and the timeless struggle between the light and dark sides await you. Immerse yourself in a richly detailed universe inspired by the legendary Star Wars saga, where you can become a hero of the Rebel Alliance, a cunning Imperial officer, a powerful Jedi, or a sinister Sith Lord.</div>
    <app-button [routerLink]="['/battle']">Play game</app-button>
</div>
