@import 'variables';

.mat-button-toggle-group {
    border: 2px solid $color-yellow;
    background-color: #000;

    .mat-button-toggle {
        color: #FFF;
        font-size: 2rem;
        padding: .5rem 4rem;
    }

    .mat-button-toggle-checked {
        background-color: $color-yellow !important;
        color: #000;
    }
}

.mat-mdc-card {
    background-color: #000;
    border: 2px solid $color-yellow;
    color: #FFF;

    &-subtitle {
        color: #FFF;
    }
}
